[user]
  name = Sebastian
  email = senguidanos@gmail.com
[push]
  default = simple
[color]
  ui = auto
  pager = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[format]
  pretty = format:"%h %C(yellow)%ci%Creset %Cgreen%an%Creset | %s"
[alias]
  co = checkout
